# Configuration Firebase
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyBOMCjLHVG2sgS75vVq_mzC47vW_j8Hlig"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="lightning-lucie.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="lightning-lucie"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="lightning-lucie.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="266816598640"
NEXT_PUBLIC_FIREBASE_APP_ID="1:266816598640:web:bfa61e53412c511705bab5"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-4BE047W3VN"

# URL de redirection après connexion/déconnexion
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="votre-secret-tres-long-et-securise"

# Configuration Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="votre_cle_publique_stripe"
STRIPE_SECRET_KEY="votre_cle_secrete_stripe"
STRIPE_WEBHOOK_SECRET="votre_secret_webhook_stripe"

# Configuration Mondial Relay
NEXT_PUBLIC_MONDIAL_RELAY_BRAND="BDTEST"  # Code enseigne Mondial Relay
NEXT_PUBLIC_MONDIAL_RELAY_COUNTRY="FR"    # Code pays par défaut
