/* Utilisation exclusive de la variante Calculated */
@font-face {
  font-family: 'SpeechesAndCream';
  src: url('/fonts/SpeechesAndCream-Calculated.otf') format('opentype');
  font-weight: 400; /* Poids normal */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpeechesAndCream';
  src: url('/fonts/SpeechesAndCream-Calculated.otf') format('opentype');
  font-weight: 600; /* Poids semi-gras */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpeechesAndCream-Choked';
  src: url('/fonts/SpeechesAndCream-Choked.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
